.navbar{
    background: #0003AA;
        margin-bottom: 0;
        border: 0;
}

  .nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  .nav-right li {
    display: inline;
    margin-left: 20px;
  }

  .nav-right a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    color: white;
  }

  .nav-right .active a {
    font-weight: bold;
  }
  .navbar-header{
   padding-top: 10px;
  }
  .align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
 
.align-left {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
.bg-color-blue{
  background: #0003AA;
}
.space-on-top{
  margin-top: 50px;
  
}
.banner-text h3{
  font-size: 40px;
color: #FFF;
font-weight: 600;
}
.banner-text p{
  font-size: 20px;
  color: #fff;

}
.crafting p{
  font-size: 70px;
  color:black
}
.objectives p{
  font-size: 60px;
  color: :black;
}